.image_container {
	margin: 25px auto;
	border: solid 2px #cccccc;
	border-radius: 10px;
	width: 600px;
	height: 550px;
	overflow: hidden;
}

.share_img {
	width: 600px;
	height: 450px;
	
	text-align: center;
	
}

.share_tools {
	width: 100%;
}

@media (max-width: 900px) {

	.inner_container {
		max-width: 100%;
	}

	.image_container {
		width: 100%;
	}

	.share_img {
		width: 100%;
	}

	.share_tools {
		margin-top: 25px;
	}





}